*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
app/src/main/assets/opencode-aarch64
opencode-release-key.jks
keystore-base64.txt
opencode-release-key.jks
keystore-base64.txt
